<div class="container">
  <h2 class="text-center">{{ title }}</h2>

  <a href="/tasks" class="btn btn-info">
    <i class="material-icons align-middle mr-2">keyboard_return</i>
    Back to the list
  </a>

  <hr>

  <form (submit)="createActivity()">
    <div class="form-group">
      <label for="activityName">Nom de l'activité</label>
      <input type="text" class="form-control" id="activityName" name="activityName" [(ngModel)]="newActivity.name" required>
    </div>
    <div class="form-group">
      <label for="activityDescription">Description de l'activité</label>
      <textarea class="form-control" id="activityDescription" name="activityDescription" rows="3" [(ngModel)]="newActivity.description" required></textarea>
    </div>
    <div class="form-group">
      <label for="authorFirstName">Prénom de l'auteur</label>
      <input type="text" class="form-control" id="authorFirstName" name="authorFirstName" [(ngModel)]="newActivity.owner.firstName" required>
    </div>
    <div class="form-group">
      <label for="authorLastName">Nom de l'auteur</label>
      <input type="text" class="form-control" id="authorLastName" name="authorLastName" [(ngModel)]="newActivity.owner.lastName" required>
    </div>
    <div class="form-group">
      <label for="rating">Nombre d'étoiles</label>
      <input type="text" class="form-control" id="rating" name="rating" [(ngModel)]="newActivity.rating" required>
    </div>
    <!-- Ajouter d'autres champs du formulaire ici si nécessaire -->
    <div class="form-group text-center mt-3">
      <button type="submit" class="btn btn-primary">Create</button>
    </div>
  </form>

</div>

<!-- [routerLink]="['/tasks']" -->
