<div class="container">

  <h2 class="text-center">{{title}}</h2>

  <hr>

  <!-- Formulaire d'édition -->
  <form>
    <div class="form-group">
      <label for="activityName">Nom de l'activité</label>
      <input type="text" class="form-control" id="activityName" name="activityName" [(ngModel)]="editedTask.name">
    </div>
    <div class="form-group">
      <label for="activityDescription">Description de l'activité</label>
      <textarea class="form-control" id="activityDescription" name="activityDescription" rows="3" [(ngModel)]="editedTask.description"></textarea>
    </div>
    <!-- ... Ajouter d'autres champs d'édition ici ... -->
    <div class="form-group d-flex justify-content-between">
      <button type="button" class="btn btn-info" [routerLink]="['/task', editedTask.id]">
        <i class="material-icons align-middle">keyboard_return</i>
        Back to the edited activity
      </button>
      <button type="button" class="btn btn-success" [routerLink]="['/task', editedTask.id]" (click)="saveActivity()">Save</button>
    </div>
  </form>


</div>
